@function calculateRem($size){
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin main{
    @include font-size(35px);
    font-weight: 700
}

@mixin title{
    @include font-size(58px);
    font-weight: 700;
}

@mixin subtitle{
    @include font-size(26px);
    font-weight: 400;
}

@mixin text-lg{
    @include font-size(26px);
    font-weight: 700;
    line-height: 1.38em;

}

@mixin text-med{
    @include font-size(17px);
    font-weight: 400;
    line-height: 1.38em;

}


@mixin text{
    @include font-size(16px);
    font-weight: 300;
    line-height: 1.38em;
}