@import "mediaQueries";
@import "typography";
#contact {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f5f8fc;
    padding-bottom: 5em;
    .container {
        width: 90%;
        height: 90%;
        display: flex;
        flex-flow: column nowrap;
        .text-area {
            width: 100%;
            h3 {
                color: #1a1a1a;
                @include title;
            }
            h4 {
                margin-top: 2.5em;
                @include subtitle;
            }
        }
        .cards {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;
            gap: 1.8em;
            margin-top: 2.8em;
            margin-bottom: 2em;
            .card {
                width: 95%;
                height: 10.6588em;
                border-radius: 0.2em;
                background-color: #fff;
                display: flex;
                flex-flow: column wrap;
                transition: all 0.3s ease;
                .card-item {
                    color: #1a1a1a;
                    h3 {
                        @include subtitle;
                    }
                    a {
                        text-decoration: underline;
                    }
                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
                .card-item-text {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                }
            }
            .card-dark:hover {
                filter: invert(1);
            }
            @include screen(lg) {
                flex-flow: row nowrap;
            }
        }
        .card-form {
            border-radius: 0.2em;
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            transition: all 0.3s ease;
            text-align: center;
            padding: 2em;
            margin-bottom: 1em;
            h5 {
                @include subtitle;
            }
            h6 {
                @include text-lg;
                color: #1a1a1a;
                margin-top: 1.4em;
            }
            form {
                display: grid;
                text-align: left;
                margin-top: 2em;
                input {
                    border-bottom: 1px solid #1a1a1a;
                    padding: 0 0 1.4em 0;
                    overflow: auto;
                    @include text-med;
                }
                textarea {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #1a1a1a;
                    background-color: transparent;
                    resize: none;
                    margin-top: 1.3em;
                    @include text-med;
                }
                .contact-message-error {
                    color: rgb(230, 36, 36);
                    transition: 0.3s;
                    display: none;
                }
                .contact-message-sucess {
                    color: rgb(55, 214, 55);
                    transition: 0.3s;
                    display: none;
                }
                button {
                    border: 1px solid #1a1a1a;
                    background-color: #fff;
                    border-radius: 0.2em;
                    outline: none;
                    margin-top: 1.3em;
                    padding: 1em;
                    transition: 0.3s;
                    &:hover {
                        filter: invert(1);
                    }
                }
            }
            &:hover {
                filter: invert(1);
            }
        }
    }
}