@import 'mediaQueries';
@import 'typography';

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #f5f8fc;

  .main-pic {
    width: 40%;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 80px 120px rgba(19, 19, 19, 0.055);
    border: 1px solid rgba(19, 19, 19, 0.164);
    border-radius: 40% 30% 22% 64% / 53% 91% 27% 45%;

    img {
      width: 100%;
      
    }

    @include screen(xs){
      width: 20%;
    }
  }

  h2 {
    color: #1a111a;
    margin-top: 1em;
    @include main;
  }

  .content {

    width: 100%;
    display: grid;
    place-items: center;

    h3 {
      max-width: 85%;
      line-height: 1.253em;
      margin-top: 0.844em;
      @include subtitle;

    @include screen(xs){
      max-width: 60%;
    }
    }

    nav {
      
      margin-top: 3em;

      ul {
        list-style: none;
        display: flex;
        gap: 0.455em;

        li {
          margin-bottom: 0.4em;
          padding: 0.2em;

          a {
            

            img{
            transition: 0.2s;

              width: 1.3em;
              height: 1.3em;

              &:hover{
                transform: scale(1.4);
              }
            }
          }

          &:nth-child(4){
            transform: scale(1.4);

          }
        }
      }
    }

    .download-cv {
      margin-top: 0.7m;
      padding: 0.6em 2.4em;
      border: 1px solid #7e7e7e;
      color: #1a111a;
      border-radius: 9999px;
      text-decoration: none;
      z-index: 999;
      transition: 0.3s;
      @include text-med;

      &:hover {
        background-color: #1a111a;
        color: #aaaaaa;
        transform: translate(0%, -10%);
        box-shadow: 0 0 10px rgba(19, 19, 19, 0.185);
      }
    }
  }
}
