#services {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f5f8fc;

  .container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;

    .text-area{
        width: 100%;

        .title{
            font-weight: 700;
            font-size: 2.4em;
            color: #1a1a1a;
        }

        .text{
            margin-top: 2.5em;
            line-height: 1.7;
        }
    }

    .cards{
        display: flex;
        justify-content: space-around;
        gap: 1.8em;
        margin-top: 2.8em;

        .card{
            width: 27%;
            height: 20em;
            background-color: #006dfc;
        }
    }
}
}