@import "mediaQueries";
@import "typography";

.isDesktop {
  width: 75%;
  z-index: 400;
  height: 100vh;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: -50em;
  background-color: #fff;
  transition: 0.4s;

  @include screen(lg) {
    left: 0;
    width: 20%;
  }

  header {
    width: 100%;
    height: 15%;
    margin-right: 1em;
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgba(46, 46, 46, 0.178);

    h1 {
      color: #1a1a1a;
      @include main;
    }
  }

  nav {
    width: 100%;
    height: 90%;
    border-bottom: 1px solid rgba(46, 46, 46, 0.178);

    .container {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;

      ul {
        width: 85%;
        height: 80%;
        display: grid;
        place-items: center;
        list-style: none;
        z-index: 1000;

        li {
          width: 90%;
          cursor: pointer;

          a {
            width: 100%;
            padding: 0.6em 0.9em;
            background: linear-gradient(to left, transparent 50%, #f5f5f5bb 50%)
              right;
            background-size: 201%;
            transition: 0.5s ease-out;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            text-decoration: none;
            color: #1a1a1a;

            img {
              width: 1em;
              height: 1em;
            }

            small {
              margin-left: 1.6em;
              @include text-med;
            }

            &:hover {
              background-position: left;
            }
          }
        }
      }

      .active {
        border-radius: 0.3em;
        transition: 0.5s ease-out;
        background: linear-gradient(to left, transparent 50%, #f5f5f5 50%) right;
        background-size: 200%;
        transition: 0.5s ease-out;

        animation: myAnim 0.5s ease 0s normal forwards;

        a {
          color: #1a1a1a;
        }
      }
    }
  }

  .email {
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;

    .pic {
      width: 30%;
      height: 100%;
      display: grid;
      place-items: center;

      img {
        border-radius: 9999px;
        width: 3.2em;
      }
    }

    .info {
      width: 70%;
      height: 100%;
      display: grid;
      align-content: center;

      h3 {
        color: #1a1a1a;
      }
    }
  }
}

@keyframes myAnim {
  100% {
    background-position: left;
  }
}

.menu {
  display: block;
  position: fixed;
  bottom: 2em;
  right: 1.6em;
  z-index: 999;

  button {
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #1a1a1a;
    padding: 0.4em;
    border-radius: 0.2em;

    div {
      width: 2.4em;
      height: 0.2em;
      background-color: #f5f5f5;
      margin: 0.3em;
      transition: 0.4s;
    }
  }

  .menu-open {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.25);

    div {
      background-color: #1a1a1a;
    }
  }

  @include screen(lg) {
    display: none;
  }
}

.show-menu {
  left: 0;
}
