.cursor {
  z-index: 999;
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 1000px) {
    .cursor {
      display: none; } }

.cursor-follow {
  background: #1a1a1a;
  width: 0.6em;
  height: 0.6em;
  pointer-events: none; }

.cursor-main {
  background: #9e9d9d;
  box-shadow: 0 0 10px #9e9d9d, 0 0 60px #9e9d9d, 0 0 15px #9e9d9d;
  opacity: 0.3;
  transition: 0.3s; }
